root { 
    display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #3a4f54;
    background-color: #dfecf1;
    font-size: 0.8em;
}

a {
    color: #e33b06;
}

table {
    empty-cells: show;
}

form.jsfcrud_list_form th, td th {
    font-size: small;
    color: #4e6a71;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: #b2d5d6;
    border-bottom-color: #b2d5d6;
    border-left-color: #90b4bd;
    border-right-color: #90b4bd;
    letter-spacing: 3px;
    text-align: left;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #b2d5d6;
}

td {
    vertical-align: top;
    padding-bottom: 8px;
    font-size: 0.8em;
}

th {
    font-size: 0.9em;
}

form.jsfcrud_list_form td, td td {
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: #b2d5d6;
    border-bottom-color: #b2d5d6;
    border-left-color: #b2d5d6;
    border-right-color: #b2d5d6;
    vertical-align: baseline;
    padding-bottom: 0px;
}

#busyImage {
    position: absolute;
    left: 50%;
    top: 50%;
}

.ui-button{font-size:0.9em !important;}

#cabecera {
    display: block;
}
#cabecera #logo {
    float: left;  
}
#cabecera #titulo {
    float: left;    
    position: relative;
    text-align: center;
    width: 60%;
}
#cabecera #login {   
    float: right;
}

.loginPanelStyle{
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    margin-top: 5%;
}

.registrarPanelStyle{
    margin-left: auto;
    margin-right: auto;
    width: 180px;

}


/*.ui-panelgrid tr, .ui-panelgrid td {
    border:0 !important;
}*/

/*.ui-datatable-scrollable-header-box{
    width: 100% !important;
}

.ui-datatable-scrollable .ui-datatable-scrollable-body table,
.ui-datatable-scrollable .ui-datatable-scrollable-header table,
.ui-datatable-scrollable .ui-datatable-scrollable-footer table{
    width: 100% !important;
}*/



